html {
	scroll-behavior: smooth;
}

/*Rubik One Font*/

@font-face {
    font-family: 'Rubik One Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik One Regular'), url('../fonts/RubikOne-Regular.woff') format('woff');
  }

body {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color:  #fff;
	background: #000;
	/*letter-spacing: 0.05em;*/
}

section {
	background: #000!important;
}

* {
	box-sizing: border-box;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	
	font-weight: 400;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

h2 {
	font-family: "Rubik One Regular";
	font-size: 50px;
}

h3 {
	font-family: "Rubik One Regular";
	font-size: 35px;
}

h4 {
	font-family: "Rubik One Regular";
	font-size: 21px;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

.container {
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.yellow-text {
	color: #FFD700;
}

.btn {
	display: block;
	text-transform: uppercase;
	font-family: "Rubik One Regular";
	font-size: 25px;
	color: #fff;
	border-radius: 12px;
	border: 1px solid #FFD700;
	padding: 17px 57px;
	width: 226px;
	margin: 0 auto;
	background: #ffffff00;
    backdrop-filter: blur(5px);
}

.bold-text {
	font-weight: 700;
}

/* --- HEADER SECTION --- */

.header {
	font-family: "Rubik One Regular";
	text-transform: uppercase;
	background: #000;
	padding-top: 40px;
	position: relative;
	z-index: 1;
}

.header:before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	bottom: 0px;
	background: url(../img/header-bg.png) no-repeat center bottom;
}

.logo {
	display: block;
	width: 170px;
	font-weight: 400;
	font-size: 20px;
	margin: 0 auto 85px;
	text-align: center;
}

.details {
	font-size: 21px;
	display: flex;
	justify-content: space-between;
	max-width: 390px;
	margin: 0 auto;
}

.main-title {
	font-family: "Bebas Neue", sans-serif;
	text-align: center;
	margin: 0 auto 90px;
}

h1 {
	color: white;
	font-size: 175px;
	position: relative;
	z-index: -2;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: linear-gradient(to bottom, #ffffff, #dcdcdc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

    /* Ефект внутрішньої тіні через псевдоелемент */
h1::after {
	content: 'CRYPTO';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	color: transparent;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.3); /* внутрішня лінія */
	filter: blur(1px);
	z-index: -1;
}

.main-title p {
	font-size: 100px;
}


.black-line {
	background: #000;
	padding: 15px 10px;
	margin: 90px auto 0;
	overflow: hidden;
  	white-space: nowrap;
  	background: #000;
}

.keywords-list {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	margin: 0 auto;
	animation: scroll-left 5s linear infinite;
  	list-style: none;
	
}

.keywords-item {
	margin-right: 20px;

}


/* Анімація */
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


/* --- EVENT SECTION --- */

section.event {
	background: #FFD700!important;
	padding: 20px 0px 20px;
}

.event .container {
	padding: 0px 10px;
}

.title-block {
	background: url(../img/event-bg.jpg) no-repeat center;
	background-size: cover;
	border-radius: 10px;
	padding: 20px 0 0 20px;
	height: 290px;
	max-width: 390px;
    margin: 0 auto;
}

.digit-info	{
	font-family: "Rubik One Regular";
	font-size: 30px;
	text-transform: uppercase;
	color: #FFD700;
}

.text-block {
	color: #000;
	max-width: 390px;
    margin: 0 auto;
    font-size: 16px;
}

.text-block > p, .expectations {
	margin-bottom: 13px;
}

p .highlight-text {
	font-family: "Bebas Neue", sans-serif;
	font-size: 50px;
	line-height: 1em;
	
}



/* --- SPEAKERS SECTION --- */


.speakers {
	padding: 40px 0 20px;
}

.second-title {
	font-size: 50px;
	font-family: "Rubik One Regular";
	text-align: center;
}

.speaker-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 390px;
    margin: 0 auto;
}

.speaker-item {
	margin-top: 40px;
}

.speaker-item .name {
	font-family: "Rubik One Regular";
	font-size: 15px;
	text-align: center;
	margin-top: 5px;
}

.speaker-photo {
	position: relative;
	z-index: 0;
	height: 161px;
	border: 1px solid #FFD700;
	border-radius: 5px;
	width: 164px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.speaker-photo img {
	display: block;
    max-width: 100%;
    height: auto;
    max-height: 150px;

}

.speaker-photo:before {
	content: "";
	display: block;
	border-radius: 50px;
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: -1;
	background: #fff;
	filter: blur(30px);
}

.speaker-photo:after {
	content: "";
	display: block;
	background: url(../img/question-sign.svg) no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
}


/* --- TICKETS SECTION --- */

.tickets {
	padding: 40px 0;
}

.tickets .second-title {
	margin-bottom: 20px;
}

.ticket {
	width: 330px;
	margin: 0 auto 55px;
}

.ticket-type {
	background: #000;
	border-radius: 10px;
	padding-bottom: 10px;
	border: 1px solid #FFD700;
	box-shadow: 1px 1px 10px #FFD700;
}

.ticket-barcode {
	border-radius: 10px;
	background: #FFD700;
	padding: 12px 50px; 
}

.ticket-barcode img{
	width: 231px;
	height: 25px;
}

.ticket-type-title {
	font-size: 50px;
	font-family: "Rubik One Regular";
	text-align: center;
	margin-top: 10px;
}

.ticket-desc {
	padding: 20px 20px 30px;
	background: url(../img/ticket-bg.png) no-repeat center / cover;
	border: 1px solid #FFD700;
	box-shadow: 1px 1px 10px #FFD700;
	border-radius: 10px;
}

.ticket-features {
	text-transform: lowercase;
}

.ticket-features p {
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 10px;
}

.price {
	font-size: 48px;
	font-family: "Rubik One Regular";
	text-align: center;
	margin-top: 60px;
}

.buy-btn {
	background: #000;
	font-size: 40px;
    font-family: "Rubik One Regular";
    padding: 5px 27px;
    width: 230px;
    margin-top: 5px;
	transition: all 0.5s ease;
}

.buy-btn:hover {
	background: transparent;
}


/* --- AGENDA SECTION --- */

.agenda {
	padding-top: 50px;
}

.warning {
	text-align: center;
	font-family: "Rubik One Regular";
	margin-top: 20px;

}

/* --- PARTNERS SECTION --- */

.partners {
	padding-top: 90px;
}

.second-title_big {
	font-size: 60px;
}

.partners-list {
	padding: 0 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 390px;
    margin: 0 auto;
}

.partners-item {
	margin-bottom: 20px;
}

.partners-link {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	background: #3D3D3D;
}

.media-partners {
	margin-top: 50px;
}

.thrid-title {
	text-align: center;
	font-family: "Rubik One Regular";
	font-size: 35px;
	margin-bottom: 10px;
}

.footer {
	background: #FFD700;
	padding: 20px 0;
}

.coop {
	color: #000;
	display: block;
	max-width: 390px;
	margin: 0 auto;
}

.coop-item {
	font-size: 12px;
	width: 335px;
	font-style: italic;
}

.coop-item:not(:last-child) {
	margin-bottom: 15px;
}

.coop-item:nth-child(2) {
	width: 380px;
}

.coop-item .small-text {
	font-size: 10px;
}

.coop-item h4 {
	font-style: normal;
}

.subtitle {
	font-size: 12px;
}

.social-media {
	width: 390px;
	margin: 0 auto ;
	padding-right: 20px;
	display: flex;
	justify-content: flex-end;
}

.social-link {
	display: block;
	margin-left: 20px;
}

.social-img {
	width: 50px;
	height: 50px;
}

